ConsoleApp1/Connected Services/ServiceReference1/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="queueTest">
        <s:complexType />
      </s:element>
      <s:element name="queueTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueTestResult" type="tns:ArrayOfTransferTest1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransferTest1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransferTest1" nillable="true" type="tns:TransferTest1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransferTest1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="queueTestSoapIn">
    <wsdl:part name="parameters" element="tns:queueTest" />
  </wsdl:message>
  <wsdl:message name="queueTestSoapOut">
    <wsdl:part name="parameters" element="tns:queueTestResponse" />
  </wsdl:message>
  <wsdl:portType name="TestServiceSoap">
    <wsdl:operation name="queueTest">
      <wsdl:input message="tns:queueTestSoapIn" />
      <wsdl:output message="tns:queueTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceSoap" type="tns:TestServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queueTest">
      <soap:operation soapAction="http://tempuri.org/queueTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestServiceSoap12" type="tns:TestServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="queueTest">
      <soap12:operation soapAction="http://tempuri.org/queueTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="TestServiceSoap" binding="tns:TestServiceSoap">
      <soap:address location="https://localhost:44323/TestService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestServiceSoap12" binding="tns:TestServiceSoap12">
      <soap12:address location="https://localhost:44323/TestService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>